alembic==1.7.5
attrs==21.2.0
certifi==2021.10.8
charset-normalizer==2.0.9
click==8.0.3
environs==9.3.5
flake8==4.0.1
Flask==2.0.2
Flask-JWT-Extended==4.3.1
Flask-Migrate==3.1.0
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
gunicorn==20.1.0
idna==3.3
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.3
Mako==1.1.6
MarkupSafe==2.0.1
marshmallow==3.14.1
mccabe==0.6.1
packaging==21.3
pluggy==1.0.0
psycopg2-binary==2.9.2
py==1.11.0
pycodestyle==2.8.0
pyflakes==2.4.0
PyJWT==2.3.0
pyparsing==3.0.6
pytest==6.2.5
python-dotenv==0.19.2
requests==2.26.0
SQLAlchemy==1.4.29
toml==0.10.2
urllib3==1.26.7
Werkzeug==2.0.2
